.search-icon {
    position: absolute;
    right: 10px;
}

.home-space {
    padding: 20px 190px;
}

.home-bg {
    /* background-image: linear-gradient(rgb(239, 207, 213),#ffff,#ffff); */
    background: linear-gradient(6deg, #ffff, rgb(247, 195, 204));
    height: 100vh;
    width: 100vw;
    /* background-repeat: no-repeat; */
    /* padding: 0px 80px; */
    /* padding: 20px 200px; */

}

#app {
    height: 100%;
}




.swiper {
    width: 75%;
    height: 22%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}