.brand{
    height: 35px;
}

.nav-link .active {
    border: 2px solid rgb(54, 54, 86);
    font-weight: bold;
    color: black !important;
}

.top {
    background-color: #ffff;
}

.gallery{
    display: flex;
}

input{
    outline: none;
}

#mega-menu-full-dropdown{
    /* display: none; */
}

#mega-menu-full-dropdown-button:hover #mega-menu-full-dropdown{
    display: block;
}

.browse-header{
    background-image: linear-gradient(to top, #ffffff00, #006dac);
}

.profile-header{
    background-image: linear-gradient(to top, #ffffff00, #006dac);
}

.profile-avatar-upload{
    height: 300px;
    object-fit: contain;
    width: 100%;
}
.dash-head{
    color:#ffff
}
.find{
    color:#ffff
}

.message .inner-text{
    padding: 10px 20px;
    color: white;
}

.message{
    width: fit-content;
    margin-bottom: 10px;
    max-width: 60%;
}

.message .inner-text{
    margin: 0;
}

.sent-msg .inner-text{
    background-color: #00ad59;
    border-radius: 20px 4px 20px 20px;
    
}

.rec-msg .inner-text{
    background-color: #006dac;
    border-radius:  4px 20px 20px 20px;
}

.sent-msg{
    margin-left: auto;
}